@import url("https://fonts.google.com/specimen/Poppins?query=poppins");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #007acc, #6DD5FA, #FFFFFF);
    
}
.wrapper {
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    width: 1200px;
    height: auto;
}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.wrapper .content-box {
    padding: 10px 10px 0;
}
.content-box .typing-text {
    max-height: 350px;
    overflow: auto;
}
.typing-text p{
    font-size: 30px;
    word-break: break-word;
    text-align: justify ;
    letter-spacing: 3px;
    white-space: pre-wrap; 
    overflow-wrap: break-word;
    text-indent: 20px;
    padding-right: 25px;
    line-height: 42px;
}
.typing-text::-webkit-scrollbar {
    width: 0px;
}
.content-box .content {
    display: block; 
    margin-top: 20px;
    padding: 10px 0;
    align-items: center ;
    justify-content: space-between;
}
.content .result-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.result-details li {
    height: 22px;
    display:-webkit-inline-flex;
    list-style: none;
    align-items: center;
}
.result-details li p{
    font-size: 20px;
}
.result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
}
.result-details li:not(:first-child){
    padding-left: 100px;
}
.result-details li b{
    font-weight: 500;
}
.content .result-details .try-again-button {
    font-weight: bold;
    border: none;
    outline: none;
    width: 105px;
    background-color: aquamarine;
    padding: 8px 0;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}
.content .result-details .try-again-button:hover {
    background-color: lightcoral; 
    opacity: 0.8; 
    box-shadow: 2px 3px 11px 5px rgba(0,0,0,0.42);
}
.typing-text p span {
    position: relative;
    color: lightgray;
    padding-left: 0px;
}
.typing-text p span.active {
    color: #0099ff;
}
.typing-text p span.correct {
    color:  rgb(153, 255, 0);
}
.typing-text p span.incorrect {
    color: rgb(255, 0, 0);
}
.typing-text p span.active::before {
    position : absolute;
    content: "";
    height: 40px;
    width: 3px;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: #0099ff;
}
.content .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.info li {
    height: 22px;
    display:-webkit-inline-flex;
    list-style: none;
    align-items: center;
}
.clear {
    clear: both;
    height: 5px; 
}
.adjust-time {
    font-weight: bold;
    border: none;
    outline: none;
    width: 105px;
    background-color: aquamarine;
    padding: 8px 0;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.adjust-time:hover {
    opacity: 0.35;
}
.adjust-paragraph {
    font-weight: bold;
    border: none;
    outline: none;
    width: 105px;
    background-color: aquamarine;
    padding: 8px 0;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.adjust-paragraph:hover {
    opacity: 0.35;
}
.darklight-mode {
    font-weight: bold;
    border: none;
    outline: none;
    width: 105px;
    background-color: aquamarine;
    padding: 8px 0;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}


.darklight-mode:hover {
    opacity: 0.35;
}